@import "import/reset";
@import "import/mixins";
@import "import/variables";

@import "import/layouts/header";
@import "import/layouts/footer";

@import "import/pages/home";
@import "import/pages/charts";

body {
  font-family: 'Montserrat', sans-serif;
  background-color: #fafafa;
}

h1, h2, h3 {
  font-family: 'Cormorant', serif;
}

.inner-div {
  width: 1250px;
}

.section-title {
  text-align: center;
  font-size: 2.5rem;
  color: #333;
  margin-bottom: 3rem;
  font-weight: 700;
}


@media (max-width: 1200px) {
  .section-title {
    font-size: 2rem;
    margin-bottom: 2rem;
  }
} 
